<header>
    <div class="badge">🟢 Available for work</div>
    <div class="social-icons">
        <a href="https://www.linkedin.com/in/ankhang941/" target="_blank"><img src="portfolio/assets/icons/linkedin.svg" alt="LinkedIn"></a>
        <a href="https://github.com/AnKhang941" target="_blank"><img src="portfolio/assets/icons/github-mark.svg" alt="Github"></a>
        <label class="switch">
            <input type="checkbox" id="theme-toggle">
            <span class="slider"></span>
        </label>
    </div>
</header>